.about {

    &__top {
        max-width: 820px;

        &-title {
            font-weight: 800;
            font-size: 48px;
            line-height: 130%;
            color: $black;
        }
        &-text {
            margin-top: 10px;

            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: $text-color;
        }
    }

    &__wrapper {
        margin-top: 40px;

        display: grid;
        grid-template-columns: 390px 320px 350px;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            margin-top: calc(var(--pos) * 80px);
        }
        
        &-name {
            display: flex;
            gap: 10px;

            font-weight: 800;
            font-size: 48px;
            line-height: 130%;
            text-transform: uppercase;
            color: $main-color;

            &::before {
                content: url(../assets/img/icons/i-arrowUp.png);
            }
        }
        &-subtitle {
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            color: #000;
        }
        &-text {
            margin-top: 20px;

            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: $text-color;
        }
    }

    &__bottom {
        margin-top: -40px;
        position: relative;

        &::before {
            position: absolute;
            bottom: 60px;

            content: '';
            background-image: url(../assets/img/bg/about-bg.png);
            background-position: center;

            width: 100%;

            height: 195px;
            z-index: 1;
        }

        &-img {
            position: relative;
            z-index: 2;
        }
    }
}