.banner {
    position: relative;
    flex-grow: 1;

    &--type-1 {
        & .banner__main {

            &-img {
                &:nth-of-type(1) {
                    aspect-ratio: 252 / 143;
                    max-width: 252px;

                    @media(max-width: $breakpoint768) {
                        display: none;
                    }

                }
                &:nth-of-type(2) {
                    aspect-ratio: 405 / 198;
                    max-width: 405px;

                }
                &:nth-of-type(3) {
                    aspect-ratio: 543 / 261;
                    max-width: 543px;

                    @media(max-width: $breakpoint768) {
                        margin-top: 90px;
                        margin-left: -160px;
                    }
                    @media(max-width: $breakpoint480) {
                        margin-top: 75px;
                    }
                }
            }
        }
    }
    &--type-2 {
        & .banner__main {

            &-img {
                &:nth-of-type(1) {
                    aspect-ratio: 252 / 143;
                    max-width: 252px;

                    @media(max-width: $breakpoint768) {
                        display: none;
                    }
                }
                &:nth-of-type(2) {
                    aspect-ratio: 349 / 261;
                    max-width: 349px;

                }
                &:nth-of-type(3) {
                    aspect-ratio: 396 / 307;
                    max-width: 396px;

                    @media(max-width: $breakpoint768) {
                        margin-top: 70px;
                        margin-left: -100px;
                    }
                    @media(max-width: $breakpoint480) {
                        margin-top: 75px;
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
    &__head {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        min-height: 214px;
        background-image: url(../assets/img/bg/f-bg.png);
        background-repeat: no-repeat;
        background-size: cover;

        @media(max-width: $breakpoint1248) {
            min-height: 180px;
        }
        @media(max-width: $breakpoint768) {
            min-height: 150px;
        }
        @media(max-width: $breakpoint375) {
            min-height: 120px;
        }

        &-title {
            font-weight: 800;
            font-size: 80px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #f8f8f8;

            @media(max-width: $breakpoint1248) {
                font-size: 70px;
            }
            @media(max-width: $breakpoint768) {
                font-size: 56px;
            }
            @media(max-width: $breakpoint480) {
                font-size: 40px;
            }
            @media(max-width: $breakpoint375) {
                font-size: 32px;
            }

            & span {
                color: $main-color;
            }
        }
    }

    &__main {
        margin-top: -70px;
        margin-bottom: 54px;
        position: relative;
        display: flex;
        justify-content: space-between;

        @media(max-width: $breakpoint1248) {
            margin-top: -40px;
        }
        @media(max-width: $breakpoint768) {
            margin-bottom: 0;
        }
        @media(max-width: $breakpoint480) {
            margin-top: -36px;
        }

        &-img {
            height: fit-content;

            & > img {
                object-fit: contain;
            }
        }
    }
    &__brands {
        margin: auto auto 36px;
        max-width: 1110px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        @media(max-width: $breakpoint768) {
            margin: 25px 0 40px 0;
            gap: 12px;
        }
        @media(max-width: $breakpoint480) {
            margin-bottom: 36px;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            // flex-grow: 1;

            border: 1px solid #9a9a98;
            border-radius: 16px;
            padding: 12px 20px;
            transition: border-color .3s;

            @media(max-width: $breakpoint480) {
                padding: 12px 16px;
            }

            &:hover {
                border-color: $main-color;
            }
        }
    }

    &__name {
        position: absolute;
        bottom: -39px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        @media(max-width: $breakpoint768) {
            position: relative;
            bottom: unset;
            left: 0;
            transform: none;

            margin-bottom: 16px;
        }

        &-title {
            font-weight: 600;
            font-size: 24px;
            text-transform: uppercase;
            color: #000;
            text-align: center;

            @media(max-width: $breakpoint768) {
                font-size: 22px;
            }
            @media(max-width: $breakpoint480) {
                font-size: 20px;
            }
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: $breakpoint768) {
            max-width: 360px;
            margin: 0 auto;
        }


        &-groups {
            display: flex;
            align-items: center;
            gap: 16px;

            @media(max-width: $breakpoint768) {
                display: contents;
            }
        }
        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid rgba(154, 154, 152, 0.89);

            cursor: pointer;
            transition: all .3s;

            &:hover {

                background: rgb(100%, 44%, 0%, .3);
                border-color: $main-color;
                
                & svg {
                    fill: $main-color;
                }
                
                &.banner__bottom-next {
                    & svg {
                        transform: translateX(3px);
                    }
                }
                &.banner__bottom-prev {
                    & svg {
                        transform: translateX(-3px);
                    }
                }
            }

            & svg {
                fill: $black;
                transition: transform .3s;
            }
        }
        &-prev {
            @media(max-width: $breakpoint768) {
                order: 1;
            }
        }
        &-next {
            @media(max-width: $breakpoint768) {
                order: 3;
            }
        }
    }
    &__counter {
        display: flex;
        align-items: center;
        gap: 4px;

        @media(max-width: $breakpoint768) {
            order: 2;
            width: fit-content;
        }

        &-current {
            font-weight: 600;
            font-size: 48px;
            line-height: 1;
            text-transform: uppercase;
            text-align: center;
            color: #000;

            @media(max-width: $breakpoint768) {
                font-size: 40px;
            }
        }
        &-total {
            font-weight: 500;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            color: #9a9a98;
        }
    }
}