.catalog {
    display: flex;
    gap: 38px;

    @media(max-width: $breakpoint1248) {
        gap: 32px;
    }

    &__side {
        max-width: 300px;
        width: 100%;
        height: fit-content;
        position: sticky;
        top: 20px;

        @media(max-width: $breakpoint1024) {
            max-width: 300px;
        }
        @media(max-width: $breakpoint992) {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            max-width: 100%;
        }
        &.open {
            display: block;
            z-index: 9;
        }
    }
    &__wrapper {
        width: 100%;
    }
    &__top {
        display: flex;
        flex-direction: column;
        gap: 36px; 
    }
    &__menu {
        display: none;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: $main-color;
        cursor: pointer;

        @media(max-width: $breakpoint768) {
            display: flex;
        }
    } 
    &__inner {
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        @media(max-width: $breakpoint768) {
            max-width: 600px;
            margin: 36px auto 0 auto;
        }
        @media(max-width: $breakpoint660) {
            max-width: 275px;
        } 
    }
    &__bottom {
        margin-top: 60px;

        @media(max-width: $breakpoint768) {
            margin-top: 36px;
        }
    }
}