.characteristics-list {
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    container: characteristics / inline-size;

    @media (min-width: $breakpoint660) {
        @container characteristics (max-width: 500px) {
            & .characteristics-list__item {
                flex-direction: column;
                gap: 0;
                align-items: start;
            }
        }
    }

    @media(max-width: $breakpoint768) { 
        margin-top: 12px;
    }

    &__item {
        display: none;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        @media(max-width: $breakpoint375) { 
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }

        &:nth-of-type(-n+5) {
            display: flex;
        }

        &-name {
            font-weight: 400;
            font-size: 20px;
            color: $text-color;

            @media(max-width: $breakpoint1024) {
                font-size: 18px;
            }
            @media(max-width: $breakpoint768) {
                font-size: 16px;
            }
            @media(max-width: $breakpoint480) { 
                font-size: 14px;
            }
        }
        &-value {
            font-weight: 500;
            font-size: 20px;
            color: $black;

            min-width: 120px;
            flex-shrink: 1;

            @media(max-width: $breakpoint1024) {
                font-size: 18px;
            }
            @media(max-width: $breakpoint768) {
                font-size: 16px;
            }
            @media(max-width: $breakpoint480) { 
                font-size: 14px;
                min-width: 80px;
            }
        }
    }
}