.filter-properties {
    display: flex;
    flex-direction: column;
    gap: 10px;

    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all .3s;
    min-height: 0;
    
    &__list {
        display: flex;
    }
}