.filter-category {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__list {

        &:has(.filter-properties__list.radio) .filter-category__top {
            display: none;
        }
        &:has(.filter-properties__list.radio) .filter-category__description {
            margin-top: 0 !important;
        }

        &.open {

            & .filter-category__top {

                & .filter-category__icon {
                    transform: rotate(180deg);
                }
            }
            & .filter-category__description {
                margin-top: 16px;
                grid-template-rows: 1fr;
                border-bottom: unset;
            }
        }
        
        &:last-of-type {
            & .filter-category__description {
                margin-top: 0;
            }

            & .filter-category__description.open {
                margin-top: 16px;
                
                & .filter-properties {
                    padding-bottom: 0;
                }
            }
            &.open {

                & .filter-category__description {
                    margin-top: 16px;
                    
                    & .filter-properties {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        & span {
            font-weight: 700;
            font-size: 16px;
            line-height: 130%;
            color: $black;
        }
    }
    &__icon {
        display: flex;
        pointer-events: none;
        transition: all .3s;

    }
    &__description {
        margin-top: 10px;
        gap: 20px;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: all .3s;
        min-height: 0;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & span {
            font-weight: 700;
            font-size: 16px;
            line-height: 130%;
            color: $black;
        }

        &:not(:has(input:checked)) {
            & span {
                color: $text-color;
            }
        }
        &:not(:has(input[data-radio="on"]:checked)) {
            & span {
                color: $text-color;
            }
        }
    }
    &__more {
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: $main-color;
        cursor: pointer;
    }
}