.footer-menu {
    margin-top: 32px;
    
    display: flex;
    align-items: center;
    gap: 48px;

    &__item {
        display: flex;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #f8f8f8;

        transition: color .3s;

        &:hover {
            color: $main-color;
        }
    }
}