.leasing-banks {
    padding: 50px 0;

    background: url(../assets/img/bg/f-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(max-width: 1180px) {
        padding: 20px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 16px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: end;
        gap: 40px;

        @media(max-width: 1180px) {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            gap: 24px;
        }
        @media(max-width: $breakpoint480) {
            grid-template-columns: repeat(2, auto);
            gap: 16px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        background: #fff;
        border: 1px solid #9a9a98;
        border-radius: 16px;
        padding: 0 20px;
        height: 53px;
    }
}