.leasing-steps {

    &__list {
        margin-top: 40px;

        display: flex;
        justify-content: space-between;
        gap: 80px;
        position: relative;

        @media(max-width: $breakpoint1248) {
            gap: 40px;
        }
        @media(max-width: $breakpoint992) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            row-gap: 54px;
        }
        @media(max-width: $breakpoint768) {
            template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
        @media(max-width: $breakpoint480) {
            grid-template-columns: none;
            row-gap: 26px;

            margin-top: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 2px;
            background: $main-color;

            @media(max-width: $breakpoint992) {
                display: none;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-number {
            display: block;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid $main-color;

            font-weight: 600;
            font-size: 36px;
            text-align: center;
            color: #ff6f00;
            background: $bg-color;
            z-index: 2;
        }
        &-title {
            margin-top: 30px;

            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            color: #ff6f00;

            max-width: 250px;
            text-wrap-style: balance;

            @media(max-width: $breakpoint992) {
                font-size: 22px;
            }

        }
        &-text {
            margin-top: 8px;

            font-weight: 500;
            font-size: 20px;
            text-align: center;
            color: $text-color;
            text-wrap-style: balance;
            
            @media(max-width: $breakpoint1248) {
                font-size: 18px;
            }
            
            & a {
                color: $text-color;
            }
        }
    }
}