.leasing-banks {
    padding: 50px 0;

    background: url(../assets/img/bg/f-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__wrapper {
        display: flex;
        justify-content: end;
        gap: 40px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        background: #fff;
        border: 1px solid #9a9a98;
        border-radius: 16px;
        padding: 0 20px;
        height: 53px;
    }
}