.menu-subsection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: space-between;
    gap: 20px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        gap: 8px;

        &-icon {
            object-fit: contain;
            width: fit-content;
        }
        &-text {
            margin-block-start: auto;
            max-width: 160px;

            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            color: $black;

            & span {
                font-weight: 500;
                color: $text-color;
            }
        }
    }
}