.pagination-list {
    display: flex;
    align-items: center;
    gap: 6px;

    &__item {
        display: flex;

        &:first-child {
            margin-right: 16px;

            @media(max-width: $breakpoint768) {
                margin-right: 2px;
            }
        }
        &:last-child {
            margin-left: 16px;

            @media(max-width: $breakpoint768) {
                margin-left: 2px;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        width: 36px;
        height: 36px;
        border: 2px solid #dadada;
        background: #f0f0ef;

        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: $text-color;

        &--active {
            border: 2px solid $main-color;
        }
    }
    &__prev, &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        width: 36px;
        height: 36px;

        &.disabled {
            & svg {
                opacity: .5;
            }
        }

        & svg {
            fill: #9A9A98;
        }
    }
    &__arrow {
        display: flex;
    }
}