.products-card {
    border: 1px solid #d1d1d0;
    background: #f0f0ef;
    padding: 8px 10px 28px 8px;

    &__top {
        height: 200px;

        display: flex;
        align-items: end;
        // justify-content: center;

        & img {
            object-fit: contain;
            display: none;
        }
    }
    &__info {
        margin-top: 24px;

        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            color: $black;
        }
        &-desc {
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: $text-color;
        }

        &-price-block {

            &__price {
                margin-top: 16px;

                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
                color: $black;
            }
            &__btn {
                display: none;
                margin-top: 10px;

                background: $main-color;
                border-radius: 14px;
                padding: 10px 24px;

                font-weight: 600;
                font-size: 16px;
                color: #f8f8f8;
            }
        }
    }

    // &:hover {

    //     & .products-card__top {
    //         align-items: unset;
    //         justify-content: unset;

    //         &-img {
    //             display: none;
    //         } 
    //     }
    //     & .properties-card {
    //         display: block;
    //     }
    // }
}