.properties-card {
    // display: none;

    position: absolute;
    inset: 0;
    transform: translateX(150%);transition: transform .3s;

    background: #f0f0ef;
    height: inherit;
    width: 100%;

    overscroll-behavior: contain;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }    
    &__item {
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            color: $text-color;
        }
        &-value {
            font-weight: 600;
            font-size: 16px;
            color: $black;
        }
    }
}
