.banner-section {
    padding-bottom: 56px;

    @media(max-width: $breakpoint768) {
        padding-bottom: 48px;
    }
}
.catalog-banner-section {
    padding-bottom: 56px;
    
    @media(max-width: $breakpoint768) {
        padding-bottom: 28px;
    }
}

.advantages-section {
    padding: 54px 0;

    &--type-1 {
        background: url(../assets/img/bg/adv-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media(max-width: $breakpoint992) {
        padding: 24px 0;
    }
    @media(max-width: $breakpoint660) {
        padding: 12px 0;
    }
}

.main-catalog-section {
    padding-top: 52px;
    padding-bottom: 84px;

    @media(max-width: $breakpoint768) {
        padding: 38px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 28px 0;
    }
}

.about-section {
    &--type-1 {
        margin-top: 48px;
    }
    &--type-2 {
        margin-bottom: 50px;

        @media(max-width: $breakpoint768) {
            margin-bottom: 34px;
        }
        @media(max-width: $breakpoint480) {
            margin-bottom: 26px;
        }
    }
}

.consult-section {
    padding: 36px 50px;

    background: url(../assets/img/bg/consult-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(max-width: $breakpoint992) {
        padding: 36px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 28px 0;
    }
}

.leaders-section {
    padding: 80px 0;

    @media(max-width: $breakpoint480) {
        padding: 54px 0 28px;
    }
}

.breadcrumb-section {
    padding: 20px 0 32px;

    @media(max-width: $breakpoint768) {
        padding: 16px 0 12px;
    }
    @media(max-width: $breakpoint480) {
        padding: 14px 0;
    }
}

.product-detail-section {
    padding-bottom: 80px;

    @media(max-width: $breakpoint768) {
        padding-bottom: 40px;
    }
    @media(max-width: $breakpoint480) {
        padding-bottom: 20px;
    }
}

.description-section {
    padding: 54px 0;

    background: url(../assets/img/bg/description-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(max-width: $breakpoint768) {
        padding: 36px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 20px 0 40px;
    }
}

.characteristics-section {
    padding: 26px 0 54px;

    @media(max-width: $breakpoint768) {
        padding: 36px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 30px 0;
    }
}

.delivery-section {
    padding: 26px 0 48px;

    @media(max-width: $breakpoint768) { 
        padding: 36px 0;
    }
    @media(max-width: $breakpoint480) { 
        padding: 36px 0;
    }
}

.video-section {
    padding: 50px 0 146px;

    @media(max-width: $breakpoint1024) { 
        padding: 36px 0;
    }
    @media(max-width: $breakpoint480) { 
        padding: 24px 0 60px;
    }
}

.gallery-section {
    padding: 42px 0;

    @media(max-width: $breakpoint480) {
        padding: 24px 0 32px;
    }
}

.review-section {
    padding: 42px 0;

    @media(max-width: $breakpoint768) { 
        padding: 28px 0;
    }
    @media(max-width: $breakpoint480) { 
        padding: 16px 0;
    }
}

.catalog-section {
    padding-bottom: 48px;
}

.also-see-section {
    padding: 52px 0;
}

.leasing-adv-section {
    padding: 84px 0 70px;

    @media(max-width: $breakpoint768) { 
        padding: 44px 0 36px;
    }
    @media(max-width: $breakpoint480) { 
        padding: 36px 0 28px;
    }
}

.leasing-banks-section {
    margin-top: 40px;

    & .leasing-banks__wrapper {
        justify-content: center;
    }
}

.leasing-programs-section {
    padding: 40px 0;

    @media(max-width: $breakpoint480) { 
        padding: 24px 0;
    }
}

.leasing-steps-section {
    padding: 40px 0 60px;

    @media(max-width: $breakpoint992) {
        padding: 34px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 26px 0 42px;
    }
}

.about-info-section {
    padding: 40px 0;

    @media(max-width: $breakpoint768) {
        padding: 48px 0;
    }
}

.brands-section {
    padding: 40px 0;

    @media(max-width: $breakpoint768) {
        padding: 30px 0;
    }
}

.brands-info-section {
    padding: 48px 0;

    @media(max-width: $breakpoint768) {
        padding: 30px 0;
    }
}

.contacts-section {
    // padding: 40px 0;
}

.employees-section {
    padding: 40px 0;
}

.calculator-section {
    padding-top: 25px;
}

.error-section {
    background: url(../assets/img/bg/error-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 66px 0;
}