.banner-section {
    padding-bottom: 56px;

    @media(max-width: $breakpoint768) {
        padding-bottom: 48px;
    }
}

.advantages-section {
    padding: 54px 0;

    background: url(../assets/img/bg/adv-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(max-width: $breakpoint992) {
        padding: 24px 0;
    }
    @media(max-width: $breakpoint660) {
        padding: 12px 0;
    }
}

.main-catalog-section {
    padding-top: 52px;
    padding-bottom: 84px;

    @media(max-width: $breakpoint768) {
        padding: 38px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 28px 0;
    }
}

.about-section {
    margin-top: 48px;
}

.consult-section {
    padding: 36px 50px;

    background: url(../assets/img/bg/consult-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(max-width: $breakpoint992) {
        padding: 36px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 28px 0;
    }
}

.leaders-section {
    padding: 80px 0;

    @media(max-width: $breakpoint480) {
        padding: 54px 0 28px;
    }
}