.simplebar-scrollbar {
    &::before {
        background-color: $main-color;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.simplebar-visible {
        &::before {
            opacity: 1;
        }
    }
}

.simplebar-vertical.simplebar-track {

    &__card {
        right: -7px;
        width: 5px;
        background: #DADADA;
        border-radius: 5px;
    }
    &__catalog-card {
        right: -21px;
        width: 5px;
        background: #DADADA;
        border-radius: 5px;

        @media(max-width: $breakpoint768) {
            right: -7px;
        }
    }
    &__menu {
        margin-top: 30px;
        height: 300px;
        width: 5px;
        background: #DADADA;
        border-radius: 5px;
    }
    &__content {
        right: -32px;
        margin-top: 30px;
        height: 400px;
        width: 5px;
        background: #DADADA;
        border-radius: 5px;
    }
}