.swiper-product {

    &__slide {
        aspect-ratio: 1;
        background: #f0f0ef;
        border: 2px solid #cdcdcc;

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
        }
        &-img {
            object-fit: contain;
        }
    }
    &__pagination {
        margin-top: 24px;

        display: flex;
        justify-content: center;

        position: relative;
        top: auto !important;
        bottom: 0 !important;

        @media(max-width: $breakpoint1248) {
            margin-top: 40px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 14px;
        }

        & .swiper-pagination-bullet {
            margin: 0 6px !important;
            width: 36px;
            height: 6px;
            opacity: 1;

            border-radius: 3px;
            background: #9a9a98;

            &-active {
                background: $main-color;
            }
        }
    }
}