.tabs {

    &--footer {
        margin-top: 100px;

        @media(max-width: $breakpoint1024) {
            margin: 0 auto 0;

            max-width: 570px;
            width: 100%;
        }

        & .tabs__wrapper {
            margin-top: 32px;

            @media(max-width: $breakpoint660) {
                margin-top: 20px;
            }
        }
    }
    &--contacts {
        & .tabs__wrapper {
            margin-top: 52px;

            @media(max-width: $breakpoint480) {
                margin-top: 40px;
            }
        }
    }


    &__list {
        display: flex;
        width: fit-content;

        border: 1px solid #9a9a98;
        border-radius: 30px;
        margin: 0 auto;

        & li {
            padding: 6px 24px;
            border-radius: inherit;

            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: #9a9a98;

            cursor: pointer;

            @media(max-width: $breakpoint480) {
                font-size: 16px;
            }
        }
    }

    &__content {
        display: none;

        &.active {
            display: block; 
        }
    }
}

.active-tab {
    background: $main-color;
    color: #fff !important;
}