@import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: $font-family;
    scroll-behavior: smooth;
    background: #F8F8F8;
    
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

// Заголовки
h1 {
    color: $main-color;
}
.second-title {
    font-weight: 800;
    line-height: 130%;
    color: $black;

    & span {
        color: $main-color;
    }

    &--lg {
        font-size: 48px;
    }
    &--md {
        font-size: 40px;
    }
    &--sm {
        font-size: 36px;
    }
}
h3 {
    
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 60px;

    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}
.section {
    margin-top: $section-top;

    @media(max-width: $breakpoint768) {
        margin-top: 90px;
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}