// color
$main-color: #FF6F00;
$black: #323232;

$bg-color: #f8f8f8;
$text-color: #9a9a98;  

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: "Montserrat", sans-serif;

// border-radius
$main-radius: 35px;

// container
$container-width: 1248px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
